.basket{
    margin-bottom: 140px;

    &__button{
        display: block;
        margin: 0 auto;
    }

    &__summ{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        max-width: 310px;
        margin-left: auto;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    @media (max-width: $tabletM) {
        &__button {
            width: 100%;
            padding: 10px 0;
        }

        &__summ{
            max-width: none;
            margin-left: none;
        }
    }
}

.counter{
    justify-content: center;
    display: flex;
    padding: 0 15px;
    gap: 60px;
    border: 1px solid #000000;
    min-height: 52px;
    align-items: center;
    border-radius: 5px;

    &__btn>svg{
        width: 16px;
    }
    &__content{
        font-size: 20px;
    }
}