.account {
  &__container {
    display: flex;
    justify-content: center;
    margin: 60px 0;
  }

  &__card {
    flex-basis: 770px;
  }
}

.registration {

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
  }

  &__card {
    flex-basis: 770px;
  }
}

// Вход и регистрация
.card-account {
  &__title {
    color: $mainDark;
    margin-bottom: 20px;
    max-width: none;
    text-align: center;
  }

  &__registration {
    p {
      margin-bottom: 20px;
    }

    a {
      text-decoration: underline;
      display: inline-flex;
    }
  }

  &__login {
    p {
      margin-top: 20px;
    }
  }

  @media (max-width: $tablet) {
    &__title {
      text-align: center;
    }
  }
}

// Форма входа и регистрации
.form-account {
  padding: 20px 30px;
  text-transform: uppercase;
  position: relative;

  &__label {
    color: #666;
    margin-bottom: 10px;
  }

  &__input {
    border: 1.5px solid;
    border-radius: 5px;
    padding: 13px;
    margin-bottom: 30px;
    width: 100%;
  }

  &__input:nth-child(4) {
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;

    label {
      display: flex;
      gap: 15px;
      align-items: center;
    }

    span {
      white-space: nowrap;
    }
  }

  &__btn {
    transition: .2s ease;
    flex-basis: 288px;

    &:hover {
      background-color: $mainWhite;
      color: $mainRed;
      border: 1px solid $mainRed;
    }
  }

  &__link {
    span {
      color: $mainRed;
      margin-left: 15px;
    }
  }

  p {
    font-size: 14px;
  }

  @media (max-width: $tablet) {
    &__inner {
      gap: 30px;
    }
  }

  @media (max-width: $mobile) {
    &__inner {

      flex-wrap: wrap;
      
      span{
        white-space: wrap;
      }
    }
  }
}