.order{
    &__wrap{
        display: flex;
    }
}

.form-order{
    &__input{
        border: 1px solid;
        border-radius: 5px;
        // width: 472px;
        min-height: 45px;
    }

    &__list{
        display: flex;
    }
}

.product-order{
    display: flex;
    gap: 20px;

    &__box{
        display: flex;
        flex-direction: column;
    }

    &__text{
        display: flex;
        gap: 30px;
    }

    &__body{
        display: flex;
        margin-top: auto;
        justify-content: space-between;
        align-items: center;
    }
}