.order{
    &__wrap{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
}

.form-order{
    &__input{
        border: 1px solid;
        border-radius: 5px;
        // width: 472px;
        min-height: 45px;
    }

    &__list{
        display: flex;
    }
}

.product-order{
    display: flex;
    gap: 20px;
    position: relative;
    border-radius: 10px;
    background: #f0f0f0;
    padding: 30px;

    &::before{
        content: "";
        position: absolute;
        inset: -1px;
        background: linear-gradient(139deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 160%);
        border-radius: 11px;
        z-index: -1;
    }

    &__image{
        width: 278px;
    }

    &__box{
        display: flex;
        flex-direction: column;
    }

    &__text{
        display: flex;
        gap: 30px;
    }

    &__body{
        display: flex;
        margin-top: auto;
        justify-content: space-between;
        align-items: center;
    }

    &__counter{
        gap: 18px;
        padding: 0 27px;
    }
}