// Сброс стилей
@import './reset';

// Основные цвета
$mainRed: #A33419;
$mainWhite: #D4D4D4;
$mainDark: #1e1e1e;
$gradient: linear-gradient(139deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);

// Основные размеры
$maxWidth: 3000;
$maxWidthContainer: 1650;
$tablet: 945px;
$mobile: 500px;


// Подключение стилей SVG иконок
@import './svg-icons';

@import './fonts';

// Базовые стили
body{
  font-family: "Cygre";
  font-weight: 400;
  background-color: $mainWhite;
  color: $mainDark;
  letter-spacing: 0.031rem;
}

.container {
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;
}

.button{
  text-transform: uppercase;
  background-color: $mainRed;
  color: $mainWhite;
  border-radius: 5px;
  padding: 17px 140px;
  font-weight: 700;
  border: 1px solid;
  transition: .4s ease;
}

.title{
  font-family: "Wadik";
  color: $mainRed;
  font-size: 48px;
  text-align: center;
}

.product-card{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  
  &__img{
    max-height: 430px;
  }

  &__body{
    padding: 30px;
    margin-top: auto;
  }

  &__title{
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__quantity{
    display: inline-flex;
    align-items: end;
    gap: 12px;
    margin-bottom: 27px;
  }

  &__price{
    font-size: 24px;
    font-weight: 700;
  }

  &__bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 30px 20px 30px;
  }

  &__btn{
    flex-grow: 1;
    padding: 17px 0;
  }
}

// Секция main
.main{
  position: relative;
  overflow: hidden;

  &__container{
    text-align: center;
  }

  // &__blend-left{
  //   position: absolute;
  //   z-index: -1;
  //   left: 0;
  //   top: 0;
  // }

  // &__blend-right{
  //   position: absolute;
  //   z-index: -1;
  //   right: 0;
  //   top: 0;
  // }

  &__wrap{
    text-align: end;
    max-width: 900px;
    margin-bottom: 55px;

    @media (max-width: $tablet) {
      text-align: left;
    }
  }

  &__title{
    font-family: "Wadik";
    font-weight: 700;
    @include adaptive("font-size", 54,21, 1);
    margin-bottom: 20px;

      span{
        // @include adaptive("font-size", 96, 31.5, 1);
        // color: $mainRed;
        display: none;
      }
  }

  &__text{
    text-transform: uppercase;
    max-width: 490px;
    margin-left: auto;
    margin-bottom: 40px;
    line-height: 25px;

    @media (max-width: $tablet) {
      margin-left: 0;
    }
  }

  &__buttons{
    display: inline-flex;
    flex-direction: column;
    gap: 55px;
    }

  &__btn{
    &:hover{
      background-color: $mainWhite;
      color: $mainRed;
      border: 1px solid $mainRed;
    }
  }

  &__link{
    display: inline-block;
    padding: 42px 79px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 140px;
    transition: .4s ease;

      &:hover{
        background-color: $mainRed;
        border: 1px solid $mainRed;

        svg{
          fill: $mainWhite;
        }
      }

  }

  @media (max-width: $tablet) {
    &__link{
      padding: 37px 65px;
    }
  }

  @media (max-width: $mobile) {
    
    &__buttons{
      display: flex;
    }

    &__btn{
      padding: 17px 0;
    }
  }

}

//Секция "Часто покупают"
.popular-goods{
  margin-bottom: 140px;
  
  &__catalog{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1.3fr
  }
}

@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/modal/modal';
