.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 10px 0;
    gap: 10px;

    &__call{
        order: 2;
        display: flex;
        position: relative;
        flex-shrink: 0;

        @media (max-width: $tablet) {
            order: 4;
            flex-shrink: 0;
        }
    }

    &__logotype {
        order: 3;
        flex-shrink: 2;
        flex-grow: 1;
        text-align: end;
        @include adaptive("margin-right", 169, 0, 1)
    }

    &__search{
        margin-left: auto;
        margin-right: 20px;
        order: 4;

        @media (max-width: $tablet) {
            order: 6;
            margin: 0;
            flex-shrink: 0;
        }
    }

    &__links{
        order: 5;
    }

    @media (max-width: $tablet) {
        position: relative;
        gap: 22px;

        &__logotype{
            flex-grow: 0;
            margin-left: auto;
            margin-right: auto;
        }

        &__burger-menu.burger-menu.burger-menu_visible .burger-menu__wrap {
            transform: translateX(100%);
        }
    
        &__burger-menu.burger-menu.burger-menu_visible .burger-menu__btn {
                span:nth-child(1) {
                    transform: translateY(0) rotate(-45deg);
                }
    
                span:nth-child(2){
                    opacity: 0;
                }
            
                span:nth-child(3) {
                    transform: translateY(0) rotate(45deg);
                }        
        }
    }
}

.burger-menu {
    display: none;
    width: 30px;
    height: 35px;
    background: none;
    cursor: pointer;
    border: none;
    position: relative;
    z-index: 3;
    order: 1;
    flex-shrink: 0;

    &__wrap{
        position: absolute;
        width: 300px;
        text-align: center;
        top: 35px;
        right: 65px;
        transition: transform .5s;
        height: 800px;
        padding-top: 200px;
        background: hsl(0deg 2.87% 85.56% / 50%);
        backdrop-filter: blur(15px);
    }

    span {
        left: 0;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: rgb(0,0,0);
        transition: transform .5s,opacity .5s,background-color .5s
    }

    span:nth-child(1) {
        transform: translateY(-12px)
    }

    span:nth-child(3) {
        transform: translateY(12px)
    }

    @media (max-width: $tablet) {
        display: block;
    }
}

.callback {

    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        &_visible{
            visibility: visible;
            opacity: 1;
        }

        @media (max-width: $tablet) {
            position: absolute;
            width: 200px;
            border-radius: 10px;
            backdrop-filter: blur(20px);
            padding: 10px 20px;
            border: 1px solid;
            visibility: hidden;
            opacity: 0;
            right: -70px;
            top: 35px;
            z-index: 2;
        }
    }

    &__phone{
        transition: text-decoration 3s ease;

        &:hover{
            text-decoration: underline;
        }
    }

    &__link{
        text-transform: uppercase;
        color: #666;
        font-size: 14px;
        transition: 0.7s ease;

        &:hover{
            color: $mainDark;
        }
    }

    &__icon{
        display: none;

        @media (max-width: $tablet) {
            display: block;
        }
    }
}

.search-form{
    display: flex;
    align-items: self-end;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px solid #676969;
    width: 100%;
    max-width: 300px;

    &__btn {
        position: absolute;
        left: 0;
        width: 40px;
        flex-shrink: 0;

        &:focus-visible {
            border: 1px solid #111;
        }

        @media (max-width: $tablet) {
            position: static;
        }
    }

    &__input {
        padding-left: 40px;
        font-size: 16px;
        width: 100%;

        @media (max-width: $tablet) {
            position: absolute;
            border-radius: 10px;
            backdrop-filter: blur(20px);
            padding: 10px 20px;
            border: 1px solid;
            visibility: hidden;
            opacity: 0;
            right: 0;
            top: 75px;
            left: 0;
            z-index: 2;
            
            &_visible{
                visibility: visible;
                opacity: 1;
            }
        }

        &::placeholder {
            text-transform: uppercase;
            color: #666;
            font-size: 14px;
        }
    }

    @media (max-width: $tablet) {
        border: none;
        position: static;
        padding-bottom: 0;

        &__btn {
            width: auto;
        }
    }
}

.actions-links {
    display: flex;
    @include adaptive("gap", 25, 5, 1);
    flex-shrink: 0;

    a{
        flex-shrink: 0;
        padding: 8px;
        border-radius: 3px;
        transition: 0.4s ease;   
    }

    a:hover{
        background-color: $mainRed;
        color: $mainWhite;

        .svg-favorite{
            stroke: $mainWhite;
          }

        .svg-basket{
            fill: $mainWhite;
        }

        .svg-users{
            stroke: $mainWhite;
        }
    }

    &__link:nth-child(2) {
            position: relative;
    
            span {
                background-color: $mainRed;
                position: absolute;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                color: $mainWhite;
                text-align: center;
                align-content: center;
                left: 20px;
                bottom: 28px;
                font-size: 12px;
            }
        }
    
    &__link:not(:nth-child(2)){
        @media (max-width: $tablet) {
                display: none;
            }
        }

    @media (max-width: $tablet) {

        a:hover{
            background-color: transparent;

            .svg-basket{
                fill: $mainDark;
            }
        }

        a{
            padding: 0;
        }
    }
}

.menu {
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__link{
        padding: 12px 22px;
        border-radius: 5px;
        transition: 0.5s ease;
    }
}

.header-bottom {
    margin-bottom: 30px;

    &__icons{
        display: none;
    }

    .menu__link:hover{
        background-color: $mainRed;
        color: $mainWhite;
    }

    @media (max-width: $tablet) {

        &__icons{
            display: block;
        }

        &__wrap{
            position: absolute;
            width: 280px;
            padding: 20px 30px;
            top: 80px;
            transition: transform .5s;
            z-index: 2;
            left: -280px;
            border-radius: 4px;
            backdrop-filter: blur(20px);

            &_visible{
                transform: translateX(106%);
            }
        }

        &__wrap::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            background: $gradient;
            background-size: 100% 100%;
            clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
            
        }

        &__list{
            flex-direction: column;
            row-gap: 22px;
        }

        &__icons{
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 30px;

            a{
                display: block;
            }
        }

        &__link{
            text-transform: uppercase;

            &:nth-child(2){
                position: relative;
            }

            .svg-basket{
                width: 20px;
                height: 20px;
            }

            svg{
                margin-right: 14px;
            }

            span{
                background-color: #a33419;
                position: absolute;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                color: #d4d4d4;
                text-align: center;
                align-content: center;
                right: 65px;
                bottom: 0;
                font-size: 12px;
            }
        }

        .menu__link{
            padding: 0;

            &:hover{
                background-color: inherit;
                color: $mainDark;
            }
        }
    }
}