<header class="header">
    <div class="header__container container">
        <div class="header__top header-top">
            <div class="header-top__burger-menu burger-menu">
                <button class="burger-menu__btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>      
            <div class="header-top__call callback">
                <div class="callback__wrap">
                    <a class="callback__phone" href="tel:+79272607630">+7 (927) 260-76-30</a>
                    <a class="callback__link" href="#">Заказать звонок</a>
                </div>
                <div class="callback__icon">
                    <a class="callback__icon-link" href="#">
                        <svg class="svg-phone">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-phone"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="header-top__logotype">
                <img class="header-top__logo logo" src="img/logotype.png" alt="logotype">
            </div>
            <div class="header-top__search">
                <form class="search-form" action="#">
                    <button class="search-form__btn" type="submit">
                        <svg class="svg-search">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-search"></use>
                        </svg>
                    </button>
                    <input class="search-form__input" type="text" placeholder="Поиск">
                </form>
            </div>
            <div class="header-top__links actions-links">
                <a class="actions-links__link" href="#">
                    <svg class="svg-favorite">
                        <use xlink:href="img/icons/svg-sprite.svg#svg-favorite"></use>
                    </svg> 
                </a>
                <a class="actions-links__link" href="#">
                    <svg class="svg-basket">
                        <use xlink:href="img/icons/svg-sprite.svg#svg-basket"></use>
                    </svg>
                    <span>0</span>
                </a>
                <a class="actions-links__link" href="#">
                    <svg class="svg-users">
                        <use xlink:href="img/icons/svg-sprite.svg#svg-users"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="header__bottom header-bottom">
            <div class="header-bottom__wrap">
                <div class="header-bottom__icons">
                    <a class="header-bottom__link" href="#">
                        <svg class="svg-users">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-users"></use>
                        </svg>
                        Личный кабинет
                    </a>
                    <a class="header-bottom__link" href="#">
                        <svg class="svg-basket">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-basket"></use>
                        </svg>
                        Корзина
                        <span>0</span>
                    </a>
                    <a class="header-bottom__link" href="#">
                        <svg class="svg-favorite">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-favorite"></use>
                        </svg> 
                        Избранное
                    </a>
                </div>
                <nav class="header-bottom__menu menu">
                    <ul class="header-bottom__list menu__list" >
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="catalog">Каталог</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="services">Услуги</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="stock">Акции</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="delivery">Доставка</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="contacts">Контакты</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="cooperation">Сотрудничество</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#" data-link="about">О нас</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
</header>